<style>
    .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

</style>
<div class="row mt-5 mb-5">
    <div class="col-md-4 offset-4">

        <input type="text" class="form-control" ng-model="searchOrder" placeholder="Search for orders">


    </div>
</div>
<div class="row justify-content-center margin-view">
    <div class="col-md-8">

        <label ng-show="notfound">No orders found</label>
        <table class="table table-hover" ng-hide="notfound">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Restaurant Name</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                <div>
                    <tr ng-repeat="order in orders | filter:searchOrder" ng-click="show($index)">
                        <td ng-hide="showdetails[$index]"><img ng-src="{{order.items[0].item.image_url}}" class="avatar"></td>
                        <td ng-hide="showdetails[$index]">{{order.order_id}}</td>
                        <td ng-hide="showdetails[$index]">{{order.restaurant.name}}</td>
                        <td ng-hide="showdetails[$index]">{{order.customer.first_name}} {{order.customer.last_name}}</td>
                        <td ng-hide="showdetails[$index]">{{order.orderstatus}}</td>
                        <td ng-hide="showdetails[$index]">{{order.date_purchased}}</td>
                        <td ng-hide="showdetails[$index]">{{order.total_amount}}</td>

                        <!-- </tr> -->
                        <!-- <tr class="bg-light" > -->
                        <td class="bg-light" colspan="7" ng-click="show($index)" ng-show="showdetails[$index]">
                            <div class="col-md-12">
                                
                                <div class="row text-center">
                                    <div class="col-md-3 text-left">Id:<b>{{order.order_id}}</b></div>
                                    <div class="col-md-6">
                                        <b>Details</b>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <span class="fa fa-close" ng-click="show($index)"></span>
                                    </div>

                                </div>
                                <div class="row mt-4 text-center">
                                    <div class="col-md-6 offset-3">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Item Name</th>
                                                    <th>Quantity</th>
                                                    <th>Rate</th>
                                                    <th>Cost</th>
                                                </tr>
                                            </thead> 
                                            <tbody>
                                                <tr ng-repeat="orderitem in order.items">
                                                    <td>{{orderitem.item.item_id}}</td>
                                                    <td>{{orderitem.item.name}}</td>
                                                    <td>{{orderitem.quantity}}</td>
                                                    <td>{{orderitem.item.price}}</td>
                                                    <td>{{orderitem.quantity*orderitem.item.price}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>

                </div>
            </tbody>
        </table>

    </div>


</div>

<div class="footer navbar fixed-bottom text-center justify-content-center">
        <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>

</div>